*{
    margin: 0;
    padding: 0;
}
.Image img{
    width: 350px;
    height: 180px;
    margin-left: 10px;
    margin-bottom: 5px ;
    padding: 0;
}

.Gallery{
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.content{
    padding-bottom: 2.5rem;
}

.Footer{
    height: 2.5rem;
    width: 100%;
    margin: 0;
    display: flex;
    position:absolute;
    bottom: 0px;
}

.Header{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 0;
    background-color: red;
}

.Header h1{
    color: white;
}

.logo img{
    height: 40px;
    position: absolute;
    left: 0;
    align-items: flex-start;
}

.ListItems li{
    list-style-type:square;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 46vw;
}

@media screen and (max-width: 600px) {
    html, body {
        height: 100%;
    }

    .Image img{
        width: 350px;
        height: 180px;
        margin-left: 0px;
        margin-bottom: 5px ;
        padding: 0;
    }
    .Gallery{
        width: 390px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top:1250px;
    }    
    .Footer p{
        padding: 0;
        margin: 0;
        display: flex;
        position:fixed;
        bottom: 0px;
        width: 100vw;
        background-color: white;

    }

}