#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.ItensGaleria img{
  width: 20em;
  height: 20em;
  object-fit: cover; /* Para cortar a imagem */
  border-radius: 10px;
}

.ItensGaleria {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.Galeria2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao {
  margin-top: 20px;
}